* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sec1 {
    float: left;
    font-size: 15px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    padding-left: 2%;



}

.sec1 img {
    width: 100%;
}

h2 {
    color: rgba(255, 0, 64, 0.842);
    ;
}

.clk {
    background-color: rgba(255, 0, 64, 0.842);
    text-decoration: none;
    color: white;
    padding: 5px 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px ;
}

.banner {
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;

}

.sec2 {

    float: left;
    font-size: 15px;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    padding-left: 2%;
    margin-top: 80px;

}

section {
    height: 500px;
}

.banner2 {
    background-image:url("img/footer-bg.png");
    background-repeat: no-repeat;
}

.sec3 img {
    width: 100%;
}

.sec3 {
    padding-top: 70px;
    float: left;
    width: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 60px;
}

h3 {
    text-align: center;
    font-size: 30px;
}
.mid{
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.order{
   
    background-color:rgba(255, 0, 64, 0.842); 
    color: white;
    width:30%;
    text-align: center;
    padding: 15px 10px;
    margin-left: 500px;
    height: 80px;
    border-radius: 5px ;
    background-image: linear-gradient(45deg, rgba(255, 0, 64, 0.842) red );
}
footer{
    padding-top: 220px;;
    text-align: center;
}
.latework{
background-image: url("img/latest-work-bg.png");
background-repeat: no-repeat;

}
.fotter{
    background-image: url("img/footer-bg.png");
    background-repeat: no-repeat;

}